# Entorno virtual de Poetry
.venv/

# Archivos de entorno
.env
.env.*

# Archivos de ejemplo de entorno (¡NO ignores .env.example!)
!.env.example

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de logs y temporales
*.log
*.tmp

# Archivos de Nix
result/
.nix-result/
.nix-gc-output/
.nix-shell-environment

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/
*.swp
